@model BloodDonorCreateViewModel

@{
    ViewData["Title"] = "Add BloodDonor";
}

<h4>Add new BloodDonor</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" type = "date" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodGroup" class="control-label"></label>
                <select asp-for="BloodGroup" class="form-control" asp-items="Html.GetEnumSelectList<BloodGroup>()"></select>
                <span asp-validation-for="BloodGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" type="number" min="1" max="200" step="1" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastDonationDate" class="control-label"></label>
                <input asp-for="LastDonationDate" class="form-control" type = "date" />
                <span asp-validation-for="LastDonationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePicture">Profile Picture</label>
                <input asp-for="ProfilePicture" class="form-control" type="file" accept="image/*" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}